.form label { 
    font-size: 17px;
}
.form input {
    margin: 0px 10px;
    display: inline-block;
}
.form {
    background-color: #eeeeee;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 7px;
}
.form .row-flex {
    display: flex;
    margin: 10px 0;
    flex-direction: row;
}
.form input {
    height: 40px;
    border: solid 1px #ccc;
    border-radius: 7px;
    padding: 5px 10px;
    display: inline-block;
    width: 100%;
    margin: 0px 5px;
    color:#5e5e5e;
    font-size: 17px;
}
.form select {

    height: 40px;
    border: solid 1px #ccc;
    border-radius: 7px;
    padding: 5px 10px;
    display: inline-block;
    width: 100%;
    margin: 0px 5px;
    color:#5e5e5e;
	font-size: 17px;
}
.form .button-form {
    background-color: #fa9a29;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    display: inline-block;
    width: 100%;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}
.form .button-form:hover {
    background-color: #4954cd;
}
.form .selection {
    display: inline-block;
    width: 100%;
}
.form .text-center {
    text-align: center;
    width: 100%;
    display: inline-block;
}
.form .text-danger {
    color: rgb(236, 62, 62);
    font-size: 16px;
}
.form .text-success {
    color: #63cf42;
    font-weight: bold;
    font-size: 16px;
}
.form .text-warning {
    color: #fa9a29;
    font-size: 16px;
}
@media only screen and (max-width: 600px) {
    .form .row-flex {
        flex-direction: column;
    }
    .form .row-flex .name-input {
        margin-bottom: 10px;
    }
}